{% extends 'CupscWebBundle::layout.html.twig' %}

{% block title %}CUPSC - Home{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Cambridge University Pool and Snooker Club</h1>
    <p>This is the home page</p>
{% endblock %}
